################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/doc/少女と廃墟の街　企画書、仕様書/~$少女と廃墟の街 画面仕様.xlsx
/doc/少女と廃墟の街　企画書、仕様書/~$少女と廃墟の街.pptx
/doc/少女と廃墟の街　企画書、仕様書/~$少女と廃墟の街 仮仕様.xlsx
